@import "../../styles/variables";

.chiro-table-scroll {
  margin-top: 1rem;
  @media only screen and (min-width: 768px) {
    overflow: auto;
    max-height: 80vh;
  }
}

.chiro-table:global(.ui.table:not(.unstackable)) {
  font-family: Arial Narrow, $font-family;
  margin-top: 0;
  .cell-label {
    display: none;
  }
  th {
    position: sticky;
    top: 0;
    z-index: 10;
    &:hover {
      background-color: #f3f3f3;
    }
  }
  td.justify {
    text-align: justify;
    text-justify: inter-word;
  }
  td.hide {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    .cell-label {
      display: inline-block;
      text-align: right;
      width: 20%;
      box-sizing: border-box;
      padding-right: 2%;
    }
    .cell-value {
      display: inline-block;
      text-align: left;
      width: 80%;
      box-sizing: border-box;
      padding: 2%;
      background-color: rgba(0,0,0,.05);
    }
    thead {
      display: none;
    }
  }
  @media only screen and (max-width: 500px) {
    .cell-label {
      width: 30%;
    }
    .cell-value {
      width: 70%;
    }
  }
}

.chiro-table-container {
  position: relative;
  .download-button-group {
    top: -2.5rem;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .option-menu:global(.ui.vertical.menu) {
      margin-top: .4rem;
      z-index: 11;
      &::before {
        content: "";
        display: block;
        position: absolute;
        background-color: #767676;
        width: 5px;
        height: 5px;
        right: 14px;
        transform: translateX(50%) translateY(-50%) rotate(45deg);
      }
    }
  }
  &::after {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: background-color 150ms ease-in-out;
  }
  &[data-copying="true"]::after {
    z-index: 0;
    background-color: rgba(0, 0, 0, .2);
  }
}

h2:global(.ui.dividing.header) + .chiro-table-container {
  .download-button-group {
    top: -3.5rem;
  }
}

h2[class*="heading-tag"] + .chiro-table-container {
  .download-button-group {
    top: -5rem;
  }
}

h3:global(.ui.header) + .chiro-table-container {
  .download-button-group {
    top: -3rem;
  }
}
