@import "../../styles/dropdown";

.header-content {
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
}

.supplement-info {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, .4);
}

.nowrap {
  white-space: nowrap;
}

.pubmed-link {
  font-weight: 700;
}

.compound-description {
  font-size: 1.2rem;
}

:global(.ui.table td).justify {
  text-align: justify;
  text-justify: inter-word;
}

.with-info {
}

ul.result-col-popup {
  padding-left: 1rem;
}

:global(.ui.grid).search {
  position: relative;
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin-bottom: 3rem;
  > :global(.row) {
    .search-box {
      @include chiro-dropdown(25rem);

      .mutations-input {
        margin-top: .5rem;
        &:global(-tagsinput) {
          border-color: #007d92;
          padding: .5rem;
        }
      }

      .mutation-match-checkbox {
        label {
          font-size: 1rem;
          font-weight: 400;
          white-space: nowrap;
          &::before {
            border-color: #007d92;
          }
        }
      }

    }
    .search-summary {
      font-size: 1.1rem;
      line-height: 1.5em;
      ul {
        padding-left: 1.2rem;
        > li {
          > a.label {
            display: inline-block;
            font-weight: 700;
            &::after {
              content: ':';
            }
            min-width: 16rem;
          }
          > ul > li > a.label {
            min-width: 16rem - 1.2rem;
          }
        }
      }
    }
    @media only screen and (max-width: 1000px) {
      .search-box[class*="four wide"]:global(.column),
      .search-summary[class*="twelve wide"]:global(.column) {
        width: 100%!important;
        margin: 0 0!important;
        box-shadow: none!important;
        padding: 1rem 1rem!important;
      }
    }
  }
}

.with-info {
  text-decoration: underline dotted;;
}
