@import "../../styles/colors";

.content-container {

  margin-bottom: 3rem;

  .toc {
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    @media only screen and (max-width: 900px) {
      padding-left: 0;
    }
    &.toc-float-none {
      float: none;
    }
    &.toc-float-left {
      float: left;
    }
    &.toc-float-right {
      float: right;
    }
    @media only screen and (max-width: 900px) {
      &.toc-float-left, &.toc-float-right {
        float: none;
      }
    }
  }

  text-align: justify;

  .last-update {
    float: right;
    font-size: 1rem;
    margin-top: -1rem;
  }

  @media only screen and (max-width: 900px) {
    .last-update {
      float: none;
    }
  }

  @media only screen and (max-width: 500px) {
    :global(.sub.header) {
      overflow: hidden;
    }
    .last-update {
      margin-top: 0;
    }
  }

  position: relative;
  line-height: 1.5;
  td {
    vertical-align: top;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  table ul, table ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  table strong, table b {
    font-weight: 700;
  }
  p {
    font-size: 1.15rem;
  }
  section[data-level="1"] {
    margin-top: .6rem;
  }
  section[data-level="2"] {
    margin-top: 1.8rem;
  }
  section[data-level="3"] {
    margin-top: 1.5rem;
  }
  section[data-level="4"] {
    margin-top: 1rem;
  }
  section[data-level]:first-child {
    margin-top: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
  h1 {
    &:global(.ui.header) {
      font-size: 2.3rem;
    }
    margin-top: .6rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }
  h2 {
    font-size: 2.15rem;
    margin-top: 1.8rem;
    margin-bottom: 1.2rem;
  }
  h3 {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: .7rem;
  }
  img.fullwidth {
    width: 100%;
  }
  a {
    color: $link-color;
    &:hover {
      text-decoration: underline;
    }
    &[role="button"]:hover {
      text-decoration: none;
    }
  }
  ul, ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    font-size: 1.1rem;
  }
  li {
    text-align: left;
    margin-top: .5rem;
    margin-bottom: .5rem;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  p {
    &.center {
      text-align: center;
    }
    &.pull-right {
      float: right;
    }
    img {
      display: block;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &[data-page-name="updates"] {
    p {
      margin-bottom: 0;
    }
    p + ul, p + ol {
      margin-top: 0;
    }
    li {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  iframe.dynamic-html {
    border: 0;
    position: relative;
    width: 100%;
    height: 100vw;
  }
  section:global(.figure-section) {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    &:not(:last-child) {
      border-bottom: 2px solid rgba(0, 0, 0, .1);
    }
    &:global(.wrap) {
      flex-wrap: wrap;
      :global(.figure-caption), :global(.figure-image) {
        flex-basis: 100%;
      }
      :global(.figure-caption) {
        margin-top: 1rem;
      }
    }

    &:global(.compact) {
      align-items: flex-start;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      :global(.figure-caption) {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem 1.5rem;
        > h2 {
          font-size: 1.6rem;
        }

        > h3 {
          font-size: 1.4rem;
        }

        > p {
          font-size: .9rem;
        }
      }
    }

    :global(.figure-image) {
      flex-shrink: 0;
      max-width: 100%;
    }

    :global(.figure-caption) {
      background-color: white;
      box-shadow: 0 1rem 4rem 0 rgba(1,33,92,0.1);
      padding: 2rem 2rem;
      margin-left: 4rem;
      margin-right: 4rem;
      > h2, > h3, > h4, > h5, > h6 {
        border: none;
        margin: 0;
        &:hover > a[data-anchor-link] {
          display: none;
        }
      }

      > h2 {
        font-size: 2.15rem;
      }

      > h3 {
        font-size: 1.95rem;
      }

      > p {
        font-size: 1.25rem;
      }
    }

    @media only screen and (max-width: 1400px) {
      flex-wrap: wrap;
      :global(.figure-caption), :global(.figure-image) {
        flex-basis: 100%;
      }
      :global(.figure-caption) {
        margin-top: 1rem;
      }
    }
    @media only screen and (max-width: 900px) {
      :global(.figure-caption) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
