@import "../../styles/dropdown";

.header-content {
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
}

.category-stat {
  font-size: 1.2rem;
  line-height: 1.5rem;
  width: 30rem;
  > li > a {
    font-weight: 600;
  }
  > li > span {
    float: right;
  }
}

:global(.ui.grid).clinical-trials {
  margin-bottom: 3rem;
}

.trial-number {
  &:not(:last-child)::after {
    content: ';';
  }
}

.supplement-info {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, .4);
}

.nowrap {
  white-space: nowrap;
}

.pubmed-link {
  font-weight: 700;
}

.compound-description {
  font-size: 1.2rem;
}

:global(.ui.table td).justify {
  text-align: justify;
  text-justify: inter-word;
}

.with-info {
  text-decoration: underline dotted;
}

.last-update {
  float: right;
  font-size: 1rem;
}

:global(.ui > .grid > .row) > .search-box {
  @include chiro-dropdown(18rem);
  @media only screen and (max-width: 900px) {
    &[class*="four wide"]:global(.column) {
      width: 100%!important;
      margin: 0 0!important;
      box-shadow: none!important;
      padding: 1rem 1rem!important;
    }
  }
}

.figure-name {
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
}

.figure-caption {
  padding: 0 2rem;
}
