@import 'icosa/styles/select';
@import '../../styles/colors';

.variant-container {
  position: relative;

  .variant-loader {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,.1);
    padding: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
  
  &[data-loading] .variant-loader {
    display: block;
  }

  .variant-tabs {
    --tab-width: 20rem;
    margin-bottom: 2rem;
  }

  div[role="tabpanel"] {
    padding: 0 2rem;
  }

  a.tab-link {
    color: black;
  }

  h2 > .short-desc {
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: .5rem;
    margin-left: .2rem;
    line-height: .1;
    display: block;
    color: rgba(0, 0, 0, 0.4);
  }

  ul.attr-list {
    list-style-type: none;
    padding-left: 0;
    > li {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .parent-variant-select-container {
    text-align: right;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;

    > label {
      margin-right: .5rem;
    }

    > .parent-variant-select {
      text-align: left;
      width: 10rem;
      display: inline-block;
      @include select('parent-variant-select');
    }
  }

  section.consensus-section {
    border: 1px solid rgba(0,0,0,.4);
    padding: 1rem;
    margin-bottom: 1rem;
    > h3 {
      margin-top: 0;
      margin-bottom: 0;
      > .parent-variant {
        font-size: 1rem;
        color: rgba(0,0,0,.4);
        &::before {
          content: "â‡";
          font-weight: 400;
          margin-right: .25rem;
        }
      }
      > .consensus-source {
        font-size: 1rem;
        font-weight: 400;
        color: rgba(0,0,0,.4);
      }
    }
  }
}

.variant-intro-header {

  > a.btn-search-database {
    display: inline-block;
    vertical-align: middle;
    background-color: $main-color;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    text-transform: uppercase;
    transition: filter 200ms ease-in-out;
    float: right;
  
    &:hover {
      filter: brightness(118%);
      color: white;
    }
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }

}
