@import '../../styles/colors';

@keyframes BLINK-REF-LINK {
  0% {
    border-bottom-color: red;
    background-color: yellow;
  }
  100% {
    border-bottom-color: transparent;
    background-color: transparent;
  }
}

a.ref-link {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &[data-anchor-focused] {
    border-bottom: 3px solid transparent;
    transition: background-color 1.5s ease-in 0s, border-color 1.5s ease-in 0s;
    animation: BLINK-REF-LINK 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
}
ol.references {
  > li {
    font-size: 1rem;
    > a.cite-back-link {
      text-decoration: none;
    }
    > :global(.ui.message) p {
      font-size: 1rem;
    }
    line-height: 1.5;
    margin-top: .8rem;
    margin-bottom: .8rem;
  }
}
