:global(.ui.items>.item .meta), :global(.ui.items>.item .extra) {
  > .synonyms {
    &::before {
      content: 'Synonyms: ';
      font-weight: 600;
    }
  }
}

:global(.ui.grid).animal-model-list {
  margin-bottom: 3rem;
}
