.supplement-info {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, .4);
}

.nowrap {
  white-space: nowrap;
}

.stat-list {
  > .stat-item {
    display: flex;
    margin: 0.6rem 0;
    justify-content: space-between;
    align-items: center;

    > .item-label {
      font-weight: 700;
      margin-right: 0.5rem;
    }

    > .item-value {
      margin-left: 0.5rem;
      > :global(.ui.dropdown) {
        display: flex;
        align-items: center;
        background-color: rgba(0,0,0,.1);
        border-radius: 4px;
        padding-left: 1rem;
        padding-right: 0.5rem;
        &:hover, &:global(.active) {
          background-color: rgba(0,0,0,.15);
        }
      }
    }
  }

}

.pubmed-link {
  font-weight: 700;
}
