$green: #21BA45;
$cardinal: #8c191c;
$tarawera: #09425A;
$alto: #dddddd;
$pumice: #c7d1c6;
$fern-frond: #556222;
$reno-sand: #B96D12;
$bondi-blue: #009ABB;
$blue-lagoon: #007d92;
$wasabi: #80982a;

$main-color: $blue-lagoon;
$hl-bg-color: $alto;
$link-color: $blue-lagoon;
