@import "./colors";

%fixed-modal {
    background-color: $modal-bg;
    position: fixed;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    vertical-align: middle;
    z-index: 2000;
    left: 0;
    top: 0;
  }

  %fixed-modal-inner {
    padding: 1rem;
    background-color: $modal-dialog-bg;
    border: 1px solid $dividing-line;
    display: inline-block;
    line-height: 1.5;
    width: 30rem;
    vertical-align: middle;
  }
