@function sqrt($r) {
  // https://www.antimath.info/css/sass-sqrt-function/
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}

// https://github.com/sass/sass/issues/2849#issuecomment-621991522
@function css-function( $function, $values... ) {
  @return 
    $function
    + unquote( '(' )
    + $values
    + unquote( ')' )
  ;
}

@function css-min( $values... ) {
  @return css-function( min, $values );
}

@function css-max( $values... ) {
  @return css-function( max, $values );
}

@function css-calc( $values... ) {
  @return css-function( calc, $values );
}

@function css-clamp( $values... ) {
  @return css-function( clamp, $values );
}
