$main-content-width: 75vw;
$mobile-main-content-width: 95vw;
$header-bar-height: 3.36rem;
$header-logo-height: 6.18rem;
$footer-height: 14rem;
$font-family: Source Sans Pro, Helvetica Neue, Helvetica,Segoe UI, Arial, freesans, sans-serif;
$banner-height: 32rem;
$narrow-banner-height: 18rem;
