@import "./colors";
@import "./variables";

html {
  scroll-behavior: smooth;
}

:global(body.chiro-body) {
  background-color: rgba(0, 0, 0, .01);
  font-family: $font-family;
  :global(.ui.header) {
    font-family: $font-family;
  }
  a {
    color: $link-color;
  }

  :global(.ui.breadcrumb) a {
    color: $link-color;
  }
}

:global(.he.is.dead.jim.ui.container) {
  // unfxxk SemanticUI's extremely high priority
  // container width define.
  // See I am higher than you now!
  width: 75vw;
  @media only screen and (max-width: 1200px) {
    width: 95vw;
  }
}

.main-content {
  min-height: calc(100vh - #{$header-bar-height + $header-logo-height + $footer-height});
  padding-top: 1.5rem;
}

:global(.ui.items>.item .meta), :global(.ui.items>.item .extra) {
  > *:not(:last-child) {
    &::after {
      content: ';';
    }
  }
  a::after {
    color: black;
    cursor: default;
    pointer-events: none;
  }
}
