@import '../../../styles/colors';
@import '../../../styles/variables';

@mixin percent-bar-bg($color) {

  &::before, &::after {
    background-color: $color;
    filter: brightness(calc(var(--index) / 4 + .8));
  }

}

@mixin percent-bar-text($color, $nth) {
  & > &:global(__cta), & > &:global(__remove) {
    color: $color;
    filter: brightness(.6);
    &:hover {
      color: $color;
    }
  }

  @for $i from 0 through $nth {
    &[data-index="#{$i}"] > &:global(__cta), &[data-index="#{$i}"] > &:global(__remove) {
      color: white;
      filter: none;
      &:hover {
        color: white;
      }
    }
  }

}

.percent-bar-item_variant {
  @include percent-bar-bg($main-color);
  @include percent-bar-text($main-color, 2);
}

.percent-bar-item_rx {
  & > &:global(__cta), & > &:global(__remove) {
    color: white;
    &:hover {
      color: white;
    }
  }
  &[data-index-group="0"] {
    // TYPE_INFVAR
    @include percent-bar-bg(#d14204);
  }
  &[data-index-group="1"] {
    // TYPE_VACCINE
    @include percent-bar-bg(#8f7c0e);
  }
  &[data-index-group="2"] {
    // TYPE_MAB
    @include percent-bar-bg(#56e862);
  }
}

.percent-bar-item_variant, .percent-bar-item_rx {
  &[data-is-active="true"] .percent-bar-desc {
    .title .title-action {
      display: block;
      float: right;
      font-size: .9rem;
      margin-left: 2rem;
      font-family: $font-family;
    }
  }
}

.percent-bar-desc {
  width: max-content;
  max-width: 40rem;
  font-size: .9rem;

  .title {
    position: relative;
    padding-bottom: .3rem;
    border-bottom: 1px solid $dividing-line;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-family: "Merriweather","Georgia","Cambria","Times New Roman","Times",serif;
    .title-supplement {
      font-size: 1rem;
      display: inline-block;
      font-weight: 400;
      opacity: .7;
    }
    .title-action {
      display: none;
    }


  }

  p, ul {
    margin-top: .4rem;
    margin-bottom: 0;
    &:last-child {
      margin-bottom: .4rem;
    }
    line-height: 1.4em;
  }

  ul {
    max-height: 25rem;
    overflow: auto;
    &[data-compact="true"] {
      display: flex;
      flex-wrap: wrap;
    }
    padding-left: 0;
    list-style-type: none;

    li {
      position: relative;
      padding-left: 1rem;
      &::before {
        content: '•';
        position: absolute;
        left: 0;
        display: inline-block;
        color: rgba(0, 0, 0, .4);
        padding-left: .5rem;
        padding-right: .25rem;
      }
    }
  }

}

section.stat-section {
  position: relative;
  margin: 1.5rem 0 0;
  border: 2px solid rgba(0,0,0,.1);
  padding: 1rem;
  > h2:first-child {
    position: absolute;
    top: -.55rem;
    left: 0.5rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    color: rgba(0,0,0,.6);
    padding: 0 .4rem;
    background-color: white;
  }
  .percent-bars {
    margin-top: .5rem;
  }
}
