@import "../../styles/colors";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/dropdown";

.projects-section {
  &:first-child {
    margin-top: 4rem;
  }
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
  h2 {
    font-size: 2.15rem;
  }
  p {
    font-size: 1.15rem;
    > iframe {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  > .scrollable {
    max-height: 25rem;
    overflow-y: auto;
  }
}

ul.list-projects {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -3rem;
  margin-right: -3rem;
  &.banner-projects {
    flex-direction: column;
    > li {
      width: calc(100% - 6rem);
    }
    > li:first-child {
      margin-top: 0;
    }
  }

  &[data-compact="true"] {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    > li {
      width: calc(calc(75% / 3) - 2rem);
      margin-left: 1rem;
      margin-right: 1rem;

      > .project-title {
        font-size: 1.4rem;
        line-height: 2rem;
      }

      @media only screen and (max-width: 1500px) {
        width: calc(33.33% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
        > .project-title {
          line-height: 2rem;
        }
      }

      @media only screen and (max-width: 1200px) {
        width: calc(50% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
        > .project-title {
          line-height: 2rem;
        }
      }

      @media only screen and (max-width: 800px) {
        width: calc(100% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
        > .project-title {
          line-height: 3rem;
        }
      }
    }
  }

  > li {
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 1.5rem 3rem;
    position: relative;
    text-align: center;
    background-color: white;
    box-shadow: 0 1rem 4rem 0 rgba(1,33,92,0.1);
    > .image-trimmer {
      display: block;
      max-height: 15rem;
      overflow: hidden;
      > img {
        height: 125px;
      }
    }
    > .project-title {
      display: block;
      margin: .5rem 0;
      line-height: 4rem;
      text-align: center;
      font-weight: 600;
      font-size: 1.8rem;
    }
    > .project-desc {
      font-size: 1.15rem;
    }
    width: calc(calc(100% / 3) - 6rem);

    @media only screen and (max-width: 1500px) {
      width: calc(50% - 6rem);
    }
    @media only screen and (max-width: 800px) {
      width: calc(100% - 6rem);
      margin: 1rem 3rem;
    }
  }
}
