:global(.ui.items>.item .meta), :global(.ui.items>.item .extra) {
  > .related-compound-targets {
    &::before {
      content: 'Related targets: ';
      font-weight: 600;
    }
  }
  .content-container {
    position: relative;
  }
}

:global(.ui.grid).compound-target-list {
  margin-bottom: 3rem;
}
