@import '../../styles/colors';

$anchor-width: 1.5rem;

$anchor-font-size: 1rem;

.heading-tag {
  position: relative;
  padding-left: $anchor-width;
  left: - $anchor-width;
  color: rgba(0,0,0,.8);

  .anchor-link {
    font-size: 1rem;
    position: absolute;
    line-height: 1;
    width: $anchor-width;
    height: 1rem;
    text-decoration: none;
    visibility: hidden;
    left: 0;
    top: calc(50% - .5rem);
  }

  &:hover .anchor-link {
    visibility: visible;
    text-decoration: none;
  }

}

h2.heading-tag {
  $padding-bottom: 1.8rem;
  padding-bottom: $padding-bottom;

  .anchor-link {
    top: calc(50% - #{$padding-bottom / 2 + $anchor-font-size / 2});
  }

  &::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: $anchor-width;
    bottom: 0.8rem;
    border-bottom: 2px solid $main-color;
    z-index: -1;
  }
}
