.heading-tag {
  position: relative;
  padding-left: 1.5rem;
  left: -1.5rem;

  .anchor-link {
    font-size: 1rem;
    position: absolute;
    line-height: 1;
    width: 1.5rem;
    height: 1rem;
    text-decoration: none;
    visibility: hidden;
    left: 0;
    top: calc(50% - .5rem);
  }

  &:hover .anchor-link {
    visibility: visible;
    text-decoration: none;
  }

}

