@import "../../styles/colors";
@import "../../styles/variables";
@import "../../styles/functions";


@mixin brand-size($scale) {
  font-size: 1.8rem * $scale;

  .brand-container {
    .brand-logo {
      min-width: 65px * $scale;
      min-height: 65px * $scale;
    }

    .brand-sitename {
      height: 70px * $scale;
      background-position: #{15px * $scale} 0;
      background-size: #{35% * sqrt($scale)} #{35% * sqrt($scale)};
      padding-left: 1rem * $scale;

      .brand-sitename-title {
        padding-top: 2rem * $scale;
        font-size: 1.8rem * $scale;
      }

      .brand-sitename-subtitle {
        margin-top: 0.5rem * $scale;
        line-height: 1rem * $scale;
        font-size: 1rem * $scale;
      }
    }
  }

}

header.chiro-header {
  // @media print {
  //   background-color: transparent;
  //   .brand-logo {
  //     filter: drop-shadow(1px 0 4px $main-color) drop-shadow(0 1px 4px $main-color) drop-shadow(-1px 0 4px $main-color) drop-shadow(0 -1px 4px $main-color);
  //   }
  //   .header-container .brand-sitename {
  //     filter: drop-shadow(1px 0 4px $main-color) drop-shadow(0 1px 4px $main-color) drop-shadow(-1px 0 4px $main-color) drop-shadow(0 -1px 4px $main-color);
  //   }
  // }
  @include brand-size(0.92);
  display: flex;
  justify-content: space-between;
  background-color: $main-color;
  width: 100%;
  height: $header-logo-height;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0 1rem 0 4rem;

  .brand-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    .brand-logo {
      display: block;
      background: url(../../assets/corona.svg) no-repeat center center;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }

    .brand-sitename {
      color: white;
      display: block;
      background-image: url(../../assets/stanford.svg);
      background-repeat: no-repeat;
      background-clip: border-box;
      vertical-align: baseline;
      text-transform: uppercase;
      a {
        color: white;
      }
      .brand-sitename-title {
        font-family: "Source Sans Pro", sans-serif;
        display: block;
        white-space: nowrap;
        line-height: 1em;
        margin: 0;
      }
      .brand-sitename-subtitle {
        display: block;
        white-space: nowrap;
        font-weight: 400;
        font-style: italic;
        text-transform: none;
        a {
          border-bottom: 1px solid transparent;
          transition: border-bottom-color .2s ease-in-out;
          &:hover {
            border-bottom-color: white;
          }
        }
      }
    }
  }

  .nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;

    a.menu-toggle {
      display: none;
      color: white;
      font-size: 1.5rem;
      font-weight: 800;
      transform: rotate(-90deg);
      touch-action: none;
      padding: .7rem;
    }

    ul.nav {
      display: block;
      padding: 0 3rem 0 0;
      margin: 0;

      li.nav-item {
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1.1rem;
        padding: .7rem;

        a {
          color: white;
          border-bottom: 2px solid transparent;
          transition: border-bottom-color .2s ease-in-out;
          &:hover {
            border-bottom-color: white;
          }
        }

        + li.highlight {
          padding-left: .7rem;
        }

        &.current {
          a {
            color: $link-current-color;
            &:hover {
              border-bottom-color: $link-current-color;
            }
          }
        }

        &.highlight {
          padding: 0;
          a {
            display: inline-block;
            padding: .7rem 1.4rem;
            border: 2px solid white;
            transition: all .4s ease-in-out;
            &:hover {
              color: $main-color;
              opacity: 1;
              background-color: white;
            }
          }
        }
      }
    }

  }

  @media only screen and (max-width: 1280px) {
    padding-right: 0;
    .nav-container {
      position: relative;
      a.menu-toggle {
        display: block;
        margin-right: 1rem;
      }

      ul.nav {
        display: block;
        padding: 1rem 0 2rem;
        box-sizing: border-box;
        background-color: $main-color;
        border-top: 2px solid $nav-menu-border;
        position: absolute;
        right: 0;
        z-index: -10;
        opacity: 0;
        top: 80%;
        width: 50vw;
        transition: top .3s ease-in-out, opacity .6s ease-in-out;
        &.show {
          opacity: 1;
          z-index: 100;
          top: 100%;
        }
        li.nav-item {
          padding: 1.2rem;
          border-top: 1px solid rgba(0, 0, 0, .05);
          &:first-child {
            border-top: none;
          }
          display: block;
          + li.highlight {
            padding-left: 1.2rem;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    padding-left: 1rem;
    .nav-container {
      ul.nav {
        width: 60vw;
      }
    }
  }
  @media only screen and (max-width: 800px) {
    padding-left: 1rem;
    .nav-container {
      ul.nav {
        width: 75vw;
      }
    }
  }
  @media only screen and (max-width: 660px) {
    @include brand-size(0.7);
    .nav-container {
      ul.nav {
        width: 100vw;
      }
    }
  }

}
