@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.group-by-options_container {
  font-family: "Arial Narrow", $font-family;
  border-radius: .3rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  background-color: #f9fafb;
  padding: .5rem 1rem 1rem;
  margin-bottom: 1rem;
  transition: background-color 300ms ease-in-out;
  &:hover {
    background-color: #f3f3f3;
  }
}

label.group-by-options_label {
  display: inline-block;
  margin-top: .5rem;
  vertical-align: middle;
  font-size: 1.15rem;
  font-weight: 600;
  margin-right: 1.6rem;
}

ul.group-by-options {
  vertical-align: middle;
  display: inline-block;
  padding-left: 0;
  margin-top: .5rem;
  margin-bottom: 0;
  list-style-type: none;
  font-size: 1rem;
  > li {
    margin-top: 0;
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    label {
      margin-right: 1.2rem;
    }
  }
}

.group-by-checkbox {
  margin-right: 0;
}

.group-by-checkbox:not(:last-child) label {
  margin-right: .4rem;
}

.subfilter-options {
  margin-right: .8rem;
  vertical-align: text-bottom;
}

.subfilter {
  $icon-size: 1rem;
  @include tooltip("> .filter-desc", true);
  display: inline-block;
  vertical-align: middle;
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
  }
  > .filter-desc {
    left: 60%;
    top: 150%;
    width: max-content;
  }
  .filter-icons {
    display: inline-block;
    line-height: 1rem;
    overflow: hidden;
    vertical-align: text-top;
    font-size: $icon-size;
    width: $icon-size;
    height: $icon-size;
    display: inline-block;
    > svg {
      vertical-align: text-top;
      transition: transform 120ms ease-in-out;
      &.yes {
        color: #3ca832;
      }
      &.no {
        color: #c72222;
      }
      &.transit {
        color: rgba(0, 0, 0, .4);
      }
    }
    transition: width 400ms ease-in-out 400ms;
  }
  &:hover .filter-icons[data-transition] {
    width: $icon-size * 3;
  }
  /* &:hover > .filter-icons > svg {
    transform: translate(0,- $icon-size);
  } */
}
