@import "../../styles/colors";

.header-content {
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
}

.limited-width {
  max-width: 60rem;
}

:global(h2.ui.header).title {
  font-size: 1.5rem;
}
