@import "styles/colors";
@import "styles/variables";
@import "~sierra-frontend/dist/styles/default-colors";

body {
  @include default-color;
  --sierra-color-type-main: #{$main-color} !important;
  --sierra-color-type-main-lighter: #{$bondi-blue} !important;
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sierra-sars2-webui {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mut-annot-editor-ui {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.genome-viewer-ui {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
