@import '../../../../styles/mixins';

.small {
  font-size: .8rem;
}

.supplement-info {
  color: rgba(0, 0, 0, .4);
}


.isolate-agg {
  @include tooltip(".mutation-list");
  .mutation-list {
    left: 80%;
    top: -9.8px;
    max-width: 30rem;
    max-height: 10rem;
    overflow: auto;
    width: max-content;
  }
}

ul.potency {
  text-align: left;
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  display: inline-block;
  > li {
    list-style-type: none;
    .potency-type {
      display: inline-block;
      margin-right: .3em;
    }
  }
}

.data-availability {
  @include tooltip(".desc");
  font-size: 1.3rem;
  &[data-has-multiple="true"] {
    color: rgba(0, 0, 0, .7);
    &:hover {
      cursor: pointer;
    }
  }
  &[data-has-multiple="false"] {
    color: rgba(0, 0, 0, .3);
  }
  .yes {
    color: #3ca832;
  }
  .no {
    color: #c72222;
  }
  .desc {
    right: 80%;
    top: -9.8px;
    white-space: nowrap;
  }
}

.mul-div-sign {
  position: relative;
  display: inline-block;
  width: .5em;
  height: 1.2em;
  vertical-align: middle;
  text-indent: 200%;
  overflow: hidden;
  &::before, &::after {
    position: absolute;
    display: block;
    width: .5em;
    text-indent: 0;
    text-align: center;
    left: 0;
  }
  &::before {
    content: '×';
    top: -.25em;
  }
  &::after {
    content: '÷';
    left: -.03em;
    top: .25em;
  }
}
