@import "../../styles/colors";
@import "../../styles/variables";
@import "../../styles/mixins";

.banner-section {
  @include full-width-container;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: $banner-height;
  margin-bottom: 4rem;

  &.narrow {
    height: $narrow-banner-height;
    .banner-img-container {
      img.banner-img {
        max-height: $narrow-banner-height;
      }
    }
  }

  .banner-img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
    background-color: $main-color;
    img.banner-img {
      width: 100%;
      height: 100%;
      max-height: $banner-height;
      object-fit: cover;
      object-position: center;
      z-index: -20;
      mask-image: linear-gradient(359deg, rgba(0,0,0,1) -50%,rgba(0,0,0,0) 100%);
    }
  }

  .banner-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    .banner-header-title {
      text-align: center;
      font-size: 4rem;
    }
    .banner-header-subtitle {
      text-align: center;
      font-family: 'Poppins',$font-family;
      font-size: 1.25rem;
    }
    &:not(:last-child) {
      .banner-header-title {
        text-align: left;
      }
      .banner-header-subtitle {
        text-align: left;
      }
    }
  }

  .banner-sidebar {
    height: 100%;
    display: block;
  }

  @media only screen {
    .banner-header {
      &:not(:last-child) {
        margin-left: #{(100vw - $main-content-width) / 2};
        margin-right: 0;
        max-width: #{50vw - (100vw - $main-content-width) / 2};
      }
    }
    .banner-sidebar {
      margin-right: #{(100vw - $main-content-width) / 2};
    }
  }
  @media only screen and (max-width: 1200px) {
    .banner-header {
      &:not(:last-child) {
        margin-left: #{(100vw - $mobile-main-content-width) / 2};
        max-width: $mobile-main-content-width - 50vw;
      }
    }
    .banner-sidebar {
      margin-right: #{(100vw - $mobile-main-content-width) / 2};
    }
  }
  @media only screen and (max-width: 900px) {
    display: block;
    height: auto;
    .banner-img-container {
      img.banner-img {
        width: 100%;
        height: 100%;
        max-height: 100%;
      }
    }
    .banner-header {
      text-align: center;
      height: $narrow-banner-height;
      &:not(:last-child) {
        max-width: $mobile-main-content-width;
        .banner-header-title {
          text-align: center;
        }
        .banner-header-subtitle {
          text-align: center;
        }
      }
    }
    .banner-sidebar {
      margin-right: 0;
      padding-bottom: 2rem;
    }
  }

}
