@import "../../styles/dropdown";

:global(.ui.items>.item .meta), :global(.ui.items>.item .extra) {
  > .target {
    &::before {
      content: 'Target: ';
      font-weight: 600;
    }
  }
  > .drug-class {
    &::before {
      content: 'Drug class: ';
      font-weight: 600;
    }
  }
  > .formula {
    sub {
      margin-right: 0;
    }
    &::before {
      content: 'Formula: ';
      font-weight: 600;
    }
  }
  > .mw {
    &::before {
      content: 'MW: ';
      font-weight: 600;
    }
  }
  > .category {
    &::before {
      content: 'Availability: ';
      font-weight: 600;
    }
  }
  > .related-compounds {
    &::before {
      content: 'Related compounds: ';
      font-weight: 600;
    }
  }
  > .synonyms {
    &::before {
      content: 'Synonyms: ';
      font-weight: 600;
    }
  }
  > .cas-number {
    &::before {
      content: 'CAS Number: ';
      font-weight: 600;
    }
  }
}

.pubchem-cid {
  font-weight: 600;
}

.canvas-2d-struct {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 50vh;
}

:global(.ui > .grid > .row) > .search-box {
  @include chiro-dropdown(20rem);
  @media only screen and (max-width: 900px) {
    &[class*="four wide"]:global(.column) {
      width: 100%!important;
      margin: 0 0!important;
      box-shadow: none!important;
      padding: 1rem 1rem!important;
    }
  }
}

:global(.ui.grid).compound-list {
  margin-bottom: 3rem;
}
.compound-list-desc {
  margin: auto 1rem;
}
.ab-table {
  margin-bottom: 2rem;
  .article-link {
    display: block;
    white-space: nowrap;
  }
}

ul.ec50data {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  li {
    display: inline;
    &:not(:first-child):not(:last-child)::before {
      content: ", ";
    }
    & + li:last-child::before {
      content: " or ";
    }
  }
}
